body{
    height: 98%;
    width: 98%;
    margin-top: 10px;
}

h1 {font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
    background-color: rgba(255, 255, 0, 0.562);
    font-weight: bold;
    margin-bottom: 0px;
    border-bottom: 0px;
    opacity: 0.8;
   
}

h2 {font-size: 24px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:rgba(255, 255, 0, 0.562);
background-color: orangered;
font-style: italic;
margin-top: 0px;
border-top: 0px;
opacity: 0.8;
}

li {list-style: none;
    ;}

.indexil {color: orangered;
          font-size: 20px;
          font-style: normal;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          margin:10%;
        }

h4 {font-size: 24px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:rgba(255, 255, 0, 0.562);
background-color: orangered;
font-style: italic;
opacity: 0.8;
text-align: right;

}

a:link {
    color: orangered;
    text-decoration: none;}

a:visited {color: orange;
           text-decoration: underline;}
